# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
*.vspscc
*.vssscc

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/
*.code-workspace

# Visual Studio
.vs/
.idea/
*.vsidx

# Other
*.cache
*.pdb
*.exe
*.dll
*.tmp
